<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div id='calendar'></div>

<script>
  $('#calendar').fullCalendar({
    events: [
      {
        title: "evento 1",
        start: '2018-12-26',
        end: '2018-12-30',
        allDay: true
      },
      {
        title: "evento 2",
        start: '2018-12-25'
      }
    ]
  });
</script>